<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Contact Us Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>

  <section class="contact">
    <div class="content">
      <h2> Contact Us</h2>
      <p>For any query ,Contact Us ,or leave a Message</p>
    </div>
    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          <div class="text">
            <h3> Instagram </h3>
            <a href="https://www.instagram.com/poll_event" target="_blank"> Visit page!</a >
            <p>poll_event</p>
          </div>
          
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Whatsapp </h3>
            <a href="https://wa.me/918430799992?text=Hey%20Pollfrenzyems%20,%20I%20have%20a%20query!!" target="_blank">Visit page!</a>
            <p>poll_event</p>
          </div>
          
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          <div class="text">
            <h3>twitter </h3>
            <a href="https://www.twitter.com/pollfrenzyevent" target="_blank">Visit page!</a>
            <p>pollfrenzyevent</p>
          </div>
          
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Facebook </h3>
            <a href="https://www.facebook.com/eventpoll" target="_blank">Visit page!</a>
            <p>eventpoll</p>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Phone</h3>
              <a href="tel:+9873457895">+987 345 7895</a>
              
            </div>
            </div>
            <div class="box">
              <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                <div class="text">
                  <h3>Email</h3>
                  <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=pollfrenzyems@gmail.com&su=I have a Query!! Need Help!!&body=I am facing an issue with &tf=1" target="_blank">Send email</a>
                  <p>pollfrenzyems@gmail.com</p>
                </div>
                </div>
                

    </div> 
    <div class="contactForm" >
        <form>
          <h2>Send Message</h2>
          <div class="inputBox">
            <input type="text" name="" required="required">
            <span>Full Name</span>
              </div>
          <div class="inputBox">
            <input type="text" name="" required="required">
            <span>Email</span>
               </div>
          <div class="inputBox">
            <textarea required="required"></textarea>
            <span>Type your Message...</span>
               </div>
          <div class="inputBox">
            <input type="submit" name="" value="Send">
            <p>You can get reply on your email within 24 hrs</p>
                </div>
        </form>
    </div>
      </div>
  </section>
  
</body>
</html>