<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <style>
        .container{
            line-height: 24px;
            margin: 35px;
        }
        .abc{
            text-align:center;
            font-size: 40px;
        }
    </style>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" background="images/faqbcimg2.jpg">
    <div class="container" style="color: white">
        <p class="abc"><b>FAQs</b></p>
        <br>
    <h1> <u>Event Services</u></h1>
    <br>
    
    <p>
   <h3>Q. What event services do you offer?</h3></p>
    <p><h4>A. We offer everything you need for your next event, including event design, event management, event marketing, event catering, event entertainment, and all the other myriad services that help make every event we plan a huge success.</h4></p><br>
    <p><h3>Q. Do you charge separately for your various event services?</h3></p>
    
    <p><h4>A. Some of our services come standard, others are priced separately. In order to get an idea of what your event will cost, contact us to speak with one of our friendly event planners today. They can give you a free estimate based on your individual needs.</h4></p><br>
    
    <p><h3>Q. Who handles my event?</h3></p>
    
    <p><h4>A. We have a whole team of event planners, event designers, and event managers to meet your every need. They handle all the planning and arrangements. On the day of your event, they will be on hand to make sure everything runs smoothly so that you can focus on having a good time with your guests.</h4></p><br>
    
    
    <h1><u>EVENT DESIGN</u></h1>
    <br>
    
    <p><h3>Q. What is event design?</h3></p>
    
    <p><h4>A. Event design is the process of creating the perfect atmosphere for your event. It includes choosing the right décor, with elements like centerpieces, tables, chairs, staging, linens, lounge furniture, and china. Great event design helps your event stand out and leaves a lasting impression with everyone who attends.</h4></p><br>
    
    <p><h3>Q. Why should I hire an event designer?</h3></p>
    
    <p><h4>A. Hiring an event designer is the best way to make sure that the various elements of your event work together to create a unified theme. After all, you wouldn’t want plastic tables at your fancy dinner anymore than you would want nice glassware at your Wild West barbecue. When you work with Event Solutions, an event designer will always be a part of your event planning team.</h4></p><br>
    
    <p><h3>Q. What is the difference between event design and event planning?</h3></p>
    
    <p><h4>A. Event design is all about finding the right mix of aesthetic elements to bring your event to life. Event planners handle the logistical elements of your event, including everything from the catering to the entertainment to the parking.</h4></p><br>
    
    
    <h1><u>EVENT MANAGEMENT</u></h1>
    <br>
    
    <p><h3>Q. What is event management?</h3></p>
    
    <p><h4>A. Event management is like the inner workings of a watch: while the hands move across the face, the gears within drive the movement. An event manager handles all the behind-the-scenes aspects of your event on the day of, making sure that the food is on time, the entertainment is on hand, your guests can find a parking spot, and all your guests are taken care of.</h4></p><br>
    
    <p><h3>Q. What event management services do you provide?</h3></p>
    
    <p><h4>A. Our event managers handle everything, including arrivals and departures, ticketing and registration, securing the venue, permits, police and fire safety, security, transportation, valets, destination management, and anything else you can think of.</h4></p><br>
    
    <p><h3>Q. What if I want to manage my own event?</h3></p>
    
    <p><h4>A. We welcome your involvement in every step of the process when it comes to making your event come to life. If you want to oversee the logistics on the day of the event, we will still provide an event manager to assist you. However, we suggest that you take the opportunity to tend to your guests and let us worry about the logistics.</h4></p><br>
    
    
    <h1><u>EVENT MARKETING</u></h1> 
    <br>
    
    <p><h3>Q. What is event marketing?</h3></p>
    
    <h4></p>A. Event marketing is the secret weapon behind any successful corporate event, except employee appreciation and team building events. If you are hosting an event to promote your business in any way, our event marketing service can help make sure that your brand stays with people. We can get the word out about your event ahead of time and make sure no one forgets why they’re attending.</h4></p><br>
    
    <p><h3>Q. What are some event marketing ideas?</h3></p>
    
    <h4></p>A. We like to save our best event marketing ideas for when we actually speak to you, but we do have several examples of ways to market your business/event. In the past we’ve put together creative invitations, custom gift bags, social media campaigns, and company logos on everything from wall projections to cakes.</h4></p><br>
    
    <p><h3>Q. Why should I hire an event marketer?</h3></p>
    
    <h4></p>A. When you hire Event Solutions, event marketing is part of the package. Even if your company has its own marketing team, our event marketers will be more familiar with the specifics of your event, making them better equipped to handle this particular marketing job. If you like, we can work with your marketing team closely to make sure that everything is on message.</h4></p><br>
    
    
    <h1><u>EVENT PRODUCTION</u></h1>
    <br>
    
    <p><h3>Q. What is event production?</h3></p>
    
    <h4></p>A. Event production combines all the elements of planning, marketing, and management to bring your corporate event, company picnic, or social party to life. It’s a blanket term that covers everything, from the catering to the décor to the floral arrangements.</h4></p><br>
    
    <p><h3>Q. How is event production different from event planning?</h3></p>
    
    <h4></p>A. To use a sports analogy, event planning is kind of like drawing up your playbook in football, whereas event production is about what actually happens on the field. Your event plan will shape the idea of your event beforehand, but our event production team will handle the execution. We take all the decorations and services you’ve requested and set them up at your chosen venue. With great event production, all you have to do is show and have fun on the day of your event.</h4></p><br>
    
    <p><h3>Q. Is event production a separate service?</h3></p>
    
    <h4></p>A. Of course. We couldn’t put on the great events that we do without the efforts of our experienced and enthusiastic event production team. Event Solutions is more than just an event planning company. We are a full-service event production firm that brings truly memorable events to life.</h4></p><br><br></p>
    
</div>
</body>
</html>