<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/css/style4.css">
</head>
<body>
    <div class="container">
        <div class="box a">
            <img src="/images/01.jpg">
        </div>
        <div class="box b">
            <img src="/images/02.jpg">
        </div>
        <div class="box c">
            <img src="/images/03.jpg">
        </div>
        <div class="box d">
            <img src="/images/04.jpg">
        </div>
        <div class="box e">
            <img src="/images/05.jpg">
        </div>
        <div class="box f">
            <img src="/images/06.jpg">
        </div>
        <div class="box g">
            <img src="/images/08.jpg">
        </div>
        <div class="box h">
            <img src="/images/07.jpg">
        </div>
    </div>
</body>
</html>