<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login Page</title>
    <link rel="stylesheet" href="/css/style5.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

</head>
<body>
    <div class="container">
        
            <div class="image">
                <img src="/images/purple.jpg">
            </div>
            <form action="/client_login" method="POST" class="login-box">
                <div class="form-data">
                   <h2>Login</h2>
                   <div class="box">
          
                      <input type="text" name="uname" required>
                      <label>UserName</label>
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span></span>
          
                   </div>
                   <div class="box">

                    <input type="Password" name="psw" required>
                    <label>Password</label>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <span></span>
                
                 </div>
                 <input type="submit" value="Login">
        </div>
            </form>
    </div>
    
    
</body>
</html>