<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our services</title>
    <link rel="stylesheet" href="/css/style8.css">
</head>
<body>
    <div class="container">
        <div class="details">
            <h1>Services</h1>
        </div>
    </div>
    <div class="item">
        <div class="block a">
            <h2>Seminars</h2>
            <p>There are various events that your company or organisation will be expected to host. These events range from local conferences and seminars to annual reward nights to one-off employee gala dinners or staff parties. Let our team make sure your company’s reputation is positively reflected in the success of these events. You may also get in touch for tips on suppliers and venues!
                Corporate events may include:
                
                Product launches
                
                Gala receptions
                
                Local conferences
                
                Staff parties
                
                Awards nights.</p>
            
        </div>
        <div class="block b">
            <h2>Workshops</h2>
            <p>Many organizations host or participate in a variety of meetings and events, large and small, throughout the year. When properly executed, these meetings and events can deliver a tremendous return on investment in terms of exposure, education, marketing, sales or other objectives. Conversely, the impact of a poorly executed meeting or event can be substantial.

                All too often the very critical role of organizing meetings and events falls to someone who has had no formal training in this field. Facilitated by a Certified Meeting Planner, this two day workshop will provide you with a sound foundation for successfully planning and executing a wide variety of meetings and events.</p>
        </div>
        <div class="block c">
            <h2>Competitions</h2>
            <p>Almost all party planners feel frustrated and anxious about their competition at some point. But, to build the thriving event planning business of your dreams, it’s important to know when it’s appropriate to look at how your competition is operating, and when to focus on your resources, strengths, and business development. Here’s how you can design the event planning career of YOUR dreams and, at the same time, snap-out of unproductive emotions regarding your competition.</p>
        </div>
        <div class="block d">
            <h2>Social Events</h2>
            <p>Social events vary greatly, but all aim at entertaining and ensuring that people spend a good time with good company. Most social events mark different milestones in our lives. Our team has organised a large number of social events and will be more than happy to help out in organising or helping in your own event. We can guarantee that the event will be a milestone in itself!

                The following are some of the events that we take care of:
                Anniversaries
                
                Birthday parties (all ages)
                
                Hens/ steg  nights
                
                Garden parties
                
                Graduations
                
                Holiday parties
                
                Intimate dinners
                
                Reunions
                
                Themed events
                
                Boat parties
                
                VIP parties
                
                Clubs and associations events.</p>
        </div>
        <div class="block e">
            <h2>Webinar</h2>
            <p>A well-planned business event looks seamless. But coordinating that corporate retreat, off-site meeting or conference can be daunting, especially when it’s thrown onto your already-full plate. There are tons of tiny details to iron out. And, even if things go as planned, last-minute changes can throw a wrench in everything—no-show speakers, malfunctioning presentation equipment, late venue changes—leaving you scrambling and subtly (or blatantly) sending a message of disorganization to those attending your event.</p>
        </div>
        <div class="block f">
            <h2>Concerts</h2>
            <p>ProMotion offers full audio-visual production packages for your events as well as event promotion services including booking the perfect artist, creating powerful graphics and providing stage lighting and audio equipment.</p>
        </div>
    </div>
</body>
</html>