<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Our Team</title>
    <link rel="stylesheet" href="/css/style6.css">

</head>
<body>
    <section class="team-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>Our Team</h1>
                    <p> Our team has 3 members</p>
                </div>
            </div>
            <div class="row">
                <div class="team-items">
                    <div class="item">
                        <img src="/images/shruti.png" alt="team" />
                        <div class="inner">
                            <div class="info">
                                <h5>Shruti Sharma</h5>
                                <p>Web Developer</p>
                                <div class="social-links">
                                    <a href=""><span class="fa fa-facebook"></span></a>
                                    <a href=""><span class="fa fa-instagram"></span></a>
                                    <a href=""><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/srishti1.png" alt="team" />
                        <div class="inner">
                            <div class="info">
                                <h5>Srishti Daga</h5>
                                <p>Web Developer</p>
                                <div class="social-links">
                                    <a href=""><span class="fa fa-facebook"></span></a>
                                    <a href=""><span class="fa fa-instagram"></span></a>
                                    <a href=""><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/lav1.png" alt="team" />
                        <div class="inner">
                            <div class="info">
                                <h5>Lav Varshney</h5>
                                <p>Web Developer</p>
                                <div class="social-links">
                                    <a href=""><span class="fa fa-facebook"></span></a>
                                    <a href=""><span class="fa fa-instagram"></span></a>
                                    <a href=""><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>