.container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    height: auto;
    margin-bottom: 10%;
}

.card {
    padding: 2px 16px;
}
  
.container:hover {
    box-shadow: 5px 10px 20px 10px rgba(0,0,0,0.2);
}
  
.head{
    color: white;
    background-color: black;
    text-align: center;
    height: 60px;
    padding-top: 1px;
}

.data{
    margin: auto;
    padding: 10px 20px;
}

p{
    font-size: 20px;
    border: none;
    outline: none;
    /* padding-left: 45px; */
    padding: 8px;
    background: none;
    color: black;
    width: auto;
}

input{
    position: absolute;
    border: none;
    border-bottom: 1px solid black;
    width: 30%;
}

.box{
    border: 2px solid black;
    height: auto;
}

.form-data{
    padding: 10px;
    margin: auto;
}

label{
    padding-right: 30px;
    padding-left: 10px;
}