*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.about-section{
    background: url(/images/aboutus.jpg) no-repeat left;
    background-size: 70%;
    background-color: white;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 70%;
    float: right;
    background-color: white;
    padding: 20px;
    
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    font-family: cursive;
}
.text{
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: cursive;
}
.skills{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 16px;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 20px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 150px 20px;
    }
    .inner-container{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}