*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html,body{
    height: 100%;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/black2.jpg);
    background-size: cover;
  }
  .container{
    display: flex;
    width: 700px;
  }
  .image{
    width: 50%;
    
  }
  .image img{
    width: 100%;
    height: 100%;
  }
  .form-data{
    text-align: center;
  }
  .login-box{
    padding: 20px;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h2{
    margin-bottom: 50px;
    font-weight: 800;
    color: black;
  }
  .box{
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    
  }
  
  input[type="text"],input[type="password"]{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 5px;
    padding-left: 45px;
    background: none;
    color: black;
  }
  input[type="text"]:focus~label,input[type="password"]:focus~label,
  input[type="text"]:valid~label,input[type="password"]:valid~label
  {
    opacity: 0;
  }
  label{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    padding-left: 45px;
    color: black;
  }
  .fa{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: black;
  }
  span{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    pointer-events: none;
    border-bottom: 5px solid black;
  }
  input[type="text"]:focus~span,
  input[type="password"]:focus~span,
  input[type="text"]:valid~span,
  input[type="password"]:valid~span
  {
    left: 0;
    transition: 0.7s ease-in;
  }
  input[type="submit"]{
    border: none;
    background: none;
    cursor: pointer;
    background-color:black;
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
    outline: none;
  }
  @media(max-width:650px){
    .image{
      display: none;
    }
    .container{
      width: 400px;
    }
    .login-box{
      width: 100%;
    }
  }
  @media(max-width:500px){
    h2{
      font-size: 18px;
    }
    .container{
      width: 100vw;
      padding: 50px;
    }
    .login-box{
      width: 100%;
      height: 100%;
    }
  
  }
  
  
  
  
  
  