body{
    margin: 0;
    padding: 0;
    
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}

.details{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 20px;
    font-family: sans-serif;
}
.item{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template:"1fr 1fr 1fr " 33.33vh
                  "1fr 1fr 1fr " 33.33vh
                  "1fr 1fr 1fr " 33.33vh;
    grid-gap: 5px;              
}
.item .block{
    position: relative;
    background-color: white;
    opacity: 0.5;
    top:50%;
    bottom:0%;
    right:1%;
    left: 1%;
    
}
.item .block h2{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.item .block p{
    font-style: "Britannic bold";
    color: black;
    font-size: 18px;
    padding: 5px;
}
@keyframes animate{
    0%,100%{
        background-image:url(/images/03.jpg);
    }
    25%{
        background-image:url(/images/04.jpg);
    }
    50%{
        background-image:url(/images/01.jpg);
    }
    75%{
        background-image:url(/images/06.jpg);
    }
    90%{
        background-image:url(/images/05.jpg);
    }
}
@media (max-width: 991px){
    .item{
        
        grid-template:"1fr 1fr " 250px
                      "1fr 1fr " 250px
                      "1fr 1fr " 250px;
    }
    
    
    
}
@media (max-width: 768px){
    .item{
        
        grid-template:"1fr  " 200px
                      "1fr " 200px
                      "1fr " 200px
                      "1fr " 200px
                      "1fr " 200px
                      "1fr " 200px
                      "1fr " 200px
                      "1fr " 200px;
                      
    }
    
    
    
}
